body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(45, 56, 253);
  background: linear-gradient(
    0deg,
    rgba(45, 56, 253, 0.8) 0%,
    rgba(124, 131, 255, 0.8) 100%
  );
  padding: 25px;
  height: 100%;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  height: 100%;
}

#root {
  flex: 1;
}
